---
layout: default
javascript:
  - /javascripts/json_search.0.9.0.js
  - /javascripts/home.js
---
 
<div id="search_results_area">
  <h2>Posts <span id="result_count"></span></h2>
  <ul id="search_results" class="posts">
  </ul>
</div>

<div id="home">

  <h2>Posts</h2>

  <ul class="posts">


{% for weight in (1..10) %}
  {% for post in site.pages %}

        {% if post.weight == weight %}

        <li>
      <a href="{{ post.url }}">{{ post.title }}</a> <span id="post_lastupdated"> &raquo last revised {{ post.lastupdated | date: "%B, %d, %Y." }}</span>
        <div><i>{{ post.summary }}</i></div>
    </li>
      
        {% endif %}
  {% endfor %}
{% endfor %}

  <br>

  <h2>Recent Tweets</h2>
    <div id="tweets">
        <p>Please wait while my tweets load <img src="/images/loading.gif" /></p>
        <p><a href="http://twitter.com/theworkdesigner">If you can't wait - check out what I've been twittering</a></p>
    </div>
  <br>
  
  <script type="text/javascript" charset="utf-8">
    var posts = [
      {% for post in site.pages %}
        {
          title:   unescape('{{ post.title   | strip_html | cgi_escape }}').gsub(/\+/, ' '),
          summary: unescape('{{ post.summary | strip_html | cgi_escape }}').gsub(/\+/, ' '),
          content: unescape('{{ post.content | strip_html | cgi_escape }}').gsub(/\+/, ' '),
          url:     unescape('{{ post.url     | strip_html | cgi_escape }}').gsub(/\+/, ' '),
        },
      {% endfor %}
    0];

    posts.pop();
  </script>

  <script src="http://twitterjs.googlecode.com/svn/trunk/src/twitter.min.js"></script>

  <script type="text/javascript">
    getTwitters('tweets', {
      id: 'theworkdesigner',
      count: 8,
      enableLinks: true,
      ignoreReplies: true,
      clearContents: true,
      template: '%text% <a href="http://twitter.com/%user_screen_name%/statuses/%id_str%/">%time%</a><hr>'
    });
  </script>
</div>
