<!DOCTYPE html>

<html>
  <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <title>
       {% if page.title %}
         {{ page.title }} //
       {% endif %}
       The Work Designer
     </title>
     <meta name="author" content="Kevin Trethewey" />
     {% if page.summary %}
       <meta namne="description" content="{{ page.summary }}" />
     {% endif %}
     <link href="http://feeds2.feedburner.com/kevintrethewey" rel="alternate" title="Kevin Trethewey" type="application/rss+xml" />

     <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />
     <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" />

     {% for css in page.css %}
       <link rel="stylesheet" href="{{ css }}" type="text/css" />
     {% endfor %}
  </head>
  <body>
    <div id="site">
      <!--<a id="subscribe" href="http://feeds2.feedburner.com/kevintrethewey"><img src="/images/rss.png" alt="Subscribe to RSS Feed" /></a>-->

      <a href="/."><img src="/images/banner.jpg"/></a>

      <!--<h1><a href="/">Kevin Trethewey</a></h1>-->

      <div class="clear"></div>
      
      <div id="sidebar" class="vcard">
		

    <h3>Professional</h3>
        <ul id="profiles">

          <li><a href="http://drivensoftware.com/">Driven Software</a></li>
          <li><a href="http://drivensoftware.com/distraction">Driven2Distraction</a></li>
          <li><a href="mailto:kevint@drivensoftware.com">Email</a></li>
          <li><a href="http://github.com/drivensoftware">GitHub</a></li>
          <li><a href="http://twitter.com/drivensoftware">Twitter</a></li>

        </ul>
        <h3>Personal</h3>
        <dl id="contact">

          <dt>Name</dt>
          <dd><a class="fn url" href="http://www.kevintrethewey.com">Kevin Trethewey</a></dd>

          <dt>Email</dt>
          <dd class="email"><a href="mailto:kevint@gmail.com">Email</a></dd>

          <dt>LinkedIn</dt>
          <dd><a class="linkedin" href="http://www.linkedin.com/in/kevint">LinkedIn</a></dd>


          <dt>GitHub</dt>
          <dd class="github"><a href="http://github.com/kevint">GitHub</a></dd>


          <dt>Twitter</dt>
          <dd class="twitter"><a href="http://twitter.com/kevintrethewey">Twitter</a></dd>

          
        </dl>
      </div>
      
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.6/prototype.js"></script>



      <div id="content">
      <div id="search_area" style="display: none">
        <label for="search" style="display: none">Search</label>
        <img src="http://www.famfamfam.com/lab/icons/silk/icons/cancel.png" alt="X"/>
        <input id="search" />
      </div>
        {{ content }}
      </div>
      
      <div class="clear"></div>
      
    </div>


    {% for js in page.javascript %}
      <script type="text/javascript" src="{{ js }}"></script>
    {% endfor %}


    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-146968-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>


  </body>
</html>
